*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 139px;
    height: 60px;
    
}

.inter-body {
  font-family: 'Inter', sans-serif;
  color: #0f172a;
  line-height: 1.6;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn.outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

nav{
    width: 1660px;
    max-width: 1140px;
    align-items: center;
  padding: 16px 120px 16px 120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .manu{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type:none;
}
nav .manu a{
    text-decoration: none;
    color: #474747;
    font-size: 16px;
    font-weight: 500;
}
.hero {
  position: relative;
  background: url("../images/hero-bg.png") center/cover no-repeat ;
  color: #fff;
  padding: 140px 0;
}

.hero-content {
  position: relative;
  text-align: center;
  gap: 32px;
}

.hero h1 {
  font-size: 72px;
  margin: 20px 0;
}

.hero h1 span {
  color: #4ade80;
  
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px;
}

.badge {
  background: #ffffff;
    color: #30B868;
  padding: 8px 12px 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  
}