*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 139px;
    height: 60px;
    
}
body{
  font-family: 'Inter', sans-serif;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn.outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

nav{
    width: 1660px;
    max-width: 1140px;
    align-items: center;
  padding: 16px 120px 16px 120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .manu{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type:none;
}
nav .manu a{
    text-decoration: none;
    color: #474747;
    font-size: 16px;
    font-weight: 500;
}
.hero {
  position: relative;
  background: url("../images/hero-bg.png") center/cover no-repeat ;
  color: #fff;
  padding: 140px 0;
}

.hero-content {
  position: relative;
  text-align: center;
  gap: 32px;
}

.hero h1 {
  font-size: 72px;
  margin: 20px 0;
}

.hero h1 span {
  color: #4ade80;
  
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px;
}

.badge {
  background: #ffffff;
    color: #30B868;
  padding: 8px 12px 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;

}


.card {
 width:322px;
 height: 300px;
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  gap: 16px;
  
  }
  .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 ;
    gap: 16px;
    margin: 50px;
  
  

    
  }
  .title h1{
    text-align: center;
    gap: 16;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-top: 32px;
    

  }
  .title p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    gap: 16;
    color: #627382;
   
    

  }
 .icon-circle {
  width: 60px;
  height: 60px;
  background: #ff4d4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
.card-container p{
  gap: 16px;
}

.card h2{
  font-size: 24px;
  font-weight: 600;
  text-align: center;

  
}
.card p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
margin-top: 10px;
  
}

.knowledge {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.knowledge-graphic img {
  width: 600px;
height: 600px;
}

.knowledge-text h6 {
  color: #2ecc71;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.knowledge-text h1 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 16px;
}

.knowledge-text p {
  color: #627382;
  line-height: 1.6;
  margin-bottom: 20px;
}

.check-list {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 12px;
}

.check-list img {
  width: 18px;
  margin-top: 4px;
}


#challenge{
    padding-top: 130px;
    padding-bottom: 130px;
    

}
#challenge .challenge-container{
    width: 1360px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
    background-color:#f7f6f2;
    padding: 80px 40px 80px 40px;
    border-radius: 12px;
 


}
#challenge .challenge-container .challenge-bt{
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 20px;
}
#challenge .challenge-container h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #001931;



}
#challenge .challenge-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #627382;



}
footer{
    background-color: #001931;
    padding: 130px;
    margin-top: 130px;
   
}
footer .footer-container {
    width: 71%;
    max-width: 1140px;   
    margin: 0 auto;
    display: flex;
    gap: 116px;

}
.footer-container .social{
    max-width: 565px;
}

.footer-container img{
    font-size: 35px;
    margin-bottom: 20px;
    
}
.footer-container .icons a {
   margin-right: 24px;
}
.ft-text{
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}